/*? global clearing */
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chelsea+Market&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #f7f7f7;
  --dark: #222222;
  --gap-primary: 16px;
  --gap-secondary: 8px;
}

body {
  background-color: var(--light);
  color: var(--light);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  height: 10vh;
  background-color: var(--light);
}

nav a {
  float: left;
  display: block;
  color: var(--light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav #nav-title {
  color: #2e2e2e;
  font-family: "Rosie Brown Serif Demo";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

/* Hero Section */

.hero {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  height: 122vh;
  background-image: url(../assets/images/hero.svg);
}
.about .row{
    margin-top: 80px;
    margin-bottom: 80px;
}

#hero-item {
  margin-top: 20vh;
}

/* About Section */

.about {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 100px;
}

.about h5 {
  color: #b1b1b1;
  font-family: "Chelsea Market";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}
.about #baris2 h2 {
  color: #000;
  font-family: "Chelsea Market";
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.about #baris2 h5 {
  color: #b1b1b1;
  text-align: center;
  font-family: "Chelsea Market";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about #baris3 {
  margin-top: 60px;
}

.about p {
  color: #2e2e2e;
  font-family: "Chelsea Market";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}
.about span {
  color: #2e2e2e;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2e2e2e;
  font-family: "Bebas Neue";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 72px */
  text-transform: capitalize;
}
.about img {
  width: 640px;
  height: 640px;
  flex-shrink: 0;
  border-radius: 30px;
}
.about #baris5 {
  margin-top: 40px;
}
.about #minimalism {
  color: #f4f4f4;
  font-family: "Bebas Neue";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-transform: capitalize;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2e2e2e;
}

.typogrph {
  font-family: "Bebas Neue";
  font-size: 78px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-transform: capitalize;
}

.typogrph #white {
  color: #f4f4f4;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #2e2e2e;
}

.special-order-bg {
  background-image: url(../assets/images/spesial-order.svg);
  height: 120vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  border-radius: 30px;
}

/* End About Section */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-primary);
}

.btn {
  border: none;
  padding: var(--gap-secondary);
  background-color: var(--light);
  font-size: 18px;
  font-weight: 600;
  color: var(--dark);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: tomato;
  color: var(--light);
}
/* 
.glowingTitle {
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glowingTitle 1s ease-in-out infinite alternate;
} */

@media screen and (max-width: 600px) {
  nav a:not(:first-child) {
    display: none;
  }
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  nav.responsive {
    position: relative;
  }
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@-webkit-keyframes glowingTitle {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
