/*? global clearing */
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chelsea+Market&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #f4f4f4;
  --dark: #222222;
  --gap-primary: 16px;
  --gap-secondary: 8px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--light);
  cursor: none;
}

html, 
body,  
.heading {
  font-family: "Bebas Neue";
  /* font-size: 80px; */
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}
html, 
body,  
p {
  font-family: "Chelsea Market";
  font-size: clamp(1rem, 0.9dvw, 100rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

object{
  overflow: visible!important;
  overflow-clip-margin: 20px!important;
}

/* html, 
body, */
.heading span  {
  color: transparent;
  stroke: 1px solid #2e2e2e;
  font-family: "Bebas Neue";
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2e2e2e;

}

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode:difference;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: 1000;
}
.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1.5);
}
nav {
  height: 13vh;
  background-color: var(--light);
}

nav a {
  float: left;
  display: block;
  color: var(--light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hero Section */

#hero .hero {
  background-repeat: no-repeat;
  background-position: center 90%;
  background-size: cover;
  height: 95dvh;
  background-image: url(../assets/images/hero.webp);
  border-radius: 30px;
}
#hero img {
  margin-top: 10vh;
  width: clamp(50rem, 1dvw, 100rem);
}

/* End Hero Section */

/* Items Section */

#items .fp-overflow {
  overflow-y: visible;
}
#items .items-heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}
/* #items #no-slides {
  visibility: hidden;
} */
#items .heading {
  color: #2e2e2e;
  font-size: clamp(5rem, 0.5dvw, 100rem);
  text-transform: capitalize;
}

#items .fp-slidesNav {
  display: none;
  /* display: flex; */
  justify-content: center;
  
}
.product .prod a {
  color: #000;
  text-decoration: 0;
}
.product .prod {
  transition: transform .5s;
  color: #000;
  text-decoration: 0;
}

.product .prod:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02);
}


#items .product-title {
  color: #2e2e2e;
  margin-bottom: -0.5rem;
  font-size: clamp(2rem, 0.5dvw, 100rem);
  line-height: normal;
}

.product-card {
  width: 100%;
  border-radius: 30px;
}

#items p {
  color: #b1b1b1;
  letter-spacing: -0.72px;
}

/* End Items Section */

/* About Section */

#about p {
  color: #b1b1b1;
  letter-spacing: -0.72px;
}
#about .heading {
  color: #2e2e2e;
  font-size: clamp(4.5rem, 0.5dvw, 100rem);
  text-transform: capitalize;
}
#about .desc {
  color: #b1b1b1;
  font-size: clamp(1.4rem, 0.5dvw, 100rem);
  letter-spacing: -0.6px;
}
#about img {
  width: 640px;
  height: 640px;
  flex-shrink: 0;
  border-radius: 30px;
}
#about .title {
  color: #000;
  font-size: clamp(8rem, 0.5dvw, 100rem);
  text-align: center;
}
#about .title-desc{
  color: #b1b1b1;
  text-align: center;
}

/* End About Section */

/* testimonial section */

/* End testimonial Section */

/* distribution section */

#distribution .distribution-bg {
  background-image: linear-gradient(
      280deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 40.85%
    ),
    url(../assets/images/719.webp);
    height: 70dvh;
    border-radius: 30px;
    margin: 0 .75rem;
    /* flex-shrink: 0; */
    background-repeat: no-repeat;
    background-position: center 90%;
    background-size: cover;
}

#distribution .heading {
  color: #f4f4f4;
  font-size: clamp(4.5rem, 0.5dvw, 100rem);
  text-transform: capitalize;
}

#distribution .heading span {
  stroke: 1px solid #f4f4f4;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f4f4f4;
}

#distribution p {
  color: #fff;
  font-size: clamp(1rem, 1.5dvw, 100rem);
  text-align: justify;
  width: clamp(20rem, 35dvw, 100rem);
}
/* end distribution section */

/* asal_rotan section */

#asal_rotan .heading {
  color: #2e2e2e;
  width: clamp(25rem, 0.5dvw, 100rem);;
  font-size: clamp(4.5rem, 0.5dvw, 100rem);
  text-align: start;
}
#asal_rotan p {
  color: #b1b1b1;
  width: clamp(25rem, 30dvw, 100rem);
  font-size: clamp(1rem, 1.5dvw, 100rem);
  text-align: start;
}

/* #more {
  color: #2e2e2e;
  font-family: "Chelsea Market";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  border-radius: 50px;
  border: 1px solid #000;
  padding: 10px 30px;
  text-decoration: none;
}

#more:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
} */

/* end of asal_rotan section */

/* customize section */
#customize .heading {
  color: #2e2e2e;
  font-size: clamp(4.5rem, 5.5dvw, 100rem);
  text-align: center;
}
#customize .content{
  width: clamp(40rem, 50dvw, 100rem);
}
#customize p {
  color: #b1b1b1;
  font-size: clamp(1rem, 1.5dvw, 100rem);
  text-align: justify;
}
#customize .special-order-bg {
  background-image: url(../assets/images/spesial-order.webp);
  /* background-size: cover; */
  height: 95dvh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  /* background-position: top center 90%; */
  background-size: cover;
  border-radius: 30px;
}

#customize .button {
  width: clamp(25rem, 50dvw, 100rem);
  font-size: clamp(1rem, 1.5dvw, 100rem);
}



/* end of customize  section */

/* grow section */
#grow {
  margin-top: 40px;
}

#grow .heading {
  color: #2e2e2e;
  width: clamp(25rem, 0.5dvw, 100rem);
  font-size: clamp(4.5rem, 0.5dvw, 100rem);
  text-align: start;
}
#grow P {
  color: #b1b1b1;
  width: clamp(25rem, 30dvw, 100rem);
  font-size: clamp(1rem, 1.5dvw, 100rem);
  text-align: start;
}

/* Footer section */

#footer .desc {
  font-size: clamp(1rem, 1dvw, 100rem);
  color: #b1b1b1;
}

#footer .title {
  margin-bottom: 0;
  color: #2e2e2e;
  font-size: clamp(1rem, 1.5dvw, 100rem);
}
#footer .btn {
  color: #b1b1b1;
}

#footer .btn:hover {
  color: #2e2e2e;
  transition: 0.5s;
}

#footer .btn:active {
  color: #2e2e2e;
}
#footer .btn:has(svg) {
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #b1b1b1;
}

#footer .btn:has(svg):hover {
  background-color: #2e2e2e;
  transition: 0.5s;
}

#footer .btn:has(svg):active {
  background-color: #2e2e2e;
}

.button {
  color: #2e2e2e;
  font-family: "Chelsea Market";
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 400;
  border-radius: 50px;
  border: 1px solid #000;
  padding: 5px 30px;
  text-decoration: none;
}

.button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}

@media screen and (max-width: 600px) {
  nav a:not(:first-child) {
    display: none;
  }
  nav a.icon {
    float: right;
    display: block;
  }
  
}

@media screen and (max-width: 991px) {
  #asal_rotan .heading {
    color: #2e2e2e;
    width: 100%;
    font-size: clamp(4.5rem, 0.5dvw, 100rem);
    text-align: center;
  }
  #asal_rotan p {
    color: #b1b1b1;
    font-size: clamp(1.2rem, 2dvw, 100rem);
    text-align: center;
    width: 100%;
  }
  #grow .heading {
    color: #2e2e2e;
    width: 100%;
    font-size: clamp(4.5rem, 0.5dvw, 100rem);
    text-align: center;
  }
  #grow p {
    color: #b1b1b1;
    font-size: clamp(1.2rem, 2dvw, 100rem);
    text-align: center;
    width: 100%;
  }
  
}
@media screen and (max-width: 1440px) {
  #hero .items img {
    margin-top: 10vh;
  }
  #about .heading {
    color: #2e2e2e;
    font-size: clamp(4rem, 0.5dvw, 100rem);
    text-transform: capitalize;
  }
  #about .desc {
    color: #b1b1b1;
    font-size: clamp(1rem, 0.5dvw, 100rem);
    letter-spacing: -0.72px;
  }
  #about .title {
    color: #000;
    font-size: clamp(6rem, 0.5dvw, 100rem);
    text-align: center;
  }
  #customize .heading {
    color: #2e2e2e;
    font-size: clamp(5.1rem, 5.5dvw, 100rem);
    text-align: center;
  }
  #customize .content{
    padding-top: 0;
    width: 46rem;
  }
  #customize p {
    color: #b1b1b1;
    font-size: 1.35rem;
    text-align: justify;
  }
  #customize .button {
    font-size: 1.35rem;
  }
}
@media screen and (max-width: 1024px) {
  #hero .items img {
    margin-top: 0;
    width: clamp(30rem, 1dvw, 100rem);
  }
  #hero .hero {
    background-repeat: no-repeat;
    background-position: center 90%;
    background-size: cover;
    height: 59dvh;
    background-image: url(../assets/images/hero.webp);
    border-radius: 30px;
  }
  #customize .special-order-bg {
    background: url(../assets/images/special-order1.webp)rgba(0, 0, 0, 0.20);
    /* background-size: cover; */
    height: 95dvh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    border-radius: 30px;
    background-blend-mode: multiply;
  }
  #customize .heading {
    color: #f4f4f4!important;
    width: clamp(5rem, 60dvw, 100rem);
    font-size: clamp(4.5rem, 10dvw, 100rem);
    text-align: center;
  }
  #customize .heading span {
    color: transparent;
    stroke: 1px solid #f4f4f4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f4f4f4;
    text-align: center;
  }
  /* #customize .content{
    width: clamp(5rem, 50dvw, 100rem);
  } */
  #customize p {
    color: #f4f4f4!important;
    /* width: 46rem; */
    width: clamp(5rem, 50dvw, 100rem);
    font-size: clamp(1.5rem, 2dvw, 100rem);
    text-align: center;
  }
  #customize .button {
    color: #f4f4f4;
    border: 1px solid #f4f4f4;
    width: auto;
    font-size: clamp(1rem, 2.5dvw, 100rem);
  }
  #customize .button:hover {
    background-color: #f4f4f4;
    color: #2e2e2e;
    border: 1px solid #f4f4f4;
    width: auto;
    font-size: clamp(1rem, 2.5dvw, 100rem);
  }
  #footer .btn {
    text-align: start;
    color: #b1b1b1;
  }
}
@media screen and (max-width: 768px) {
  #hero .items img {
    margin-top: 0;
    width: clamp(30rem, 1dvw, 100rem);
  }
  nav.responsive {
    position: relative;
  }
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  /* items */
  #items .fp-slidesNav {
    display: flex;
    justify-content: center;
  }
  #items .heading {
    color: #2e2e2e;
    font-size: clamp(3.5rem, 0.9dvw, 100rem);
    text-transform: capitalize;
  }
  #items .product-title {
    color: #2e2e2e;
    margin-bottom: -0.5rem;
    font-size: clamp(2.5rem, 0.5dvw, 100rem);
    line-height: normal;
  }
  .product  a {
    color: #000;
    text-decoration: 0;
  }
  /* about */
  #about .heading {
    color: #2e2e2e;
    font-size: clamp(3.8em, 0dvw, 100rem);
    text-transform: capitalize;
  }
  #about .desc {
    color: rgb(177, 177, 177);
    font-size: clamp(0.8rem, 0.5dvw, 100rem);
    letter-spacing: -0.72px;
  }
  #about .title {
    color: #000;
    font-size: clamp(4rem, 0.5dvw, 100rem);
    text-align: center;
  }

  #distribution .img-distri {
    background-image: linear-gradient(
      0deg,
      #f4f4f4 2%,
      rgba(255, 255, 255, 0) 40.85%
    ),
    url(../assets/images/719.webp);
    height: 25dvh;
    border-radius: 20px 20px 0 0;
    background-repeat: no-repeat;
    background-position: 40% center;
    background-size: cover;
  }
  
  #distribution .heading {
    text-align: center;
    color: #2e2e2e;
    font-size: clamp(4.5rem, 0.5dvw, 100rem);
    text-transform: capitalize;
  }
  
  #distribution .heading span {
    stroke: 1px solid #2e2e2e;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2e2e2e;
  }
  
  #distribution p {
    padding: 0 4rem;
    color: #2e2e2e;
    font-size: clamp(1.2rem, 3dvw, 100rem);
    text-align: center;
    width: 100%;
  }
  #asal_rotan .heading {
    color: #2e2e2e;
    width: 100%;
    font-size: clamp(4.5rem, 0.5dvw, 100rem);
    text-align: center;
  }
  #asal_rotan p {
    color: #b1b1b1;
    font-size: clamp(1.2rem, 3dvw, 100rem);
    text-align: center;
    width: 100%;
  }
  
}

@-webkit-keyframes glowingTitle {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
